.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../assets/images/ESPE-Matriz-Sangolqui.png") no-repeat center;
    background-size: cover;
    position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
  }
  
  .auth-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Ajusta el valor de opacidad entre 0 y 1 */
    z-index: 0; /* Coloca la capa por debajo del contenido */
  }
  
  .auth-box {
    display: flex;
    width: 600px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    position: relative; /* Asegura que el contenido se muestre encima de la capa de fondo */
    z-index: 1; /* Coloca el contenido sobre la capa de fondo */
  }
  
  .side-panel {
    width: 35%;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .side-panel button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .form-container {
    width: 65%;
    padding: 30px;
  }
  
  .login-mode .side-panel {
    background: black;
  }
  
  .register-mode .side-panel {
    background: #333;
  }
  